<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thehalfmoon.himsat.b402.qualifier">
    <application
        android:allowBackup="false"
        android:hasFragileUserData="false"
        android:label="Himsat B402 Qualifier"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:name="com.thehalfmoon.himsat.b402.qualifier.B402QualificationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
